<!DOCTYPE html>
<html>
<head>
  <title>Lamps</title>
  <%= stylesheet_link_tag    'application', media: 'all' %> <%#= , 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application'%> <%#= , 'data-turbolinks-track' => true   %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div id="center">	
  <div id="logo" class="tohome">&nbsp;</div>
  <div id="contact">Tel./Fax: +7(495)389-18-09<br> E-mail: mgardens@bk.ru<br>Адрес: 17545, г. Москва, 1-й Дорожный проезд, д. 4 стр. 1</div>
  <%= yield %>
</div>
<div id="galleria"></div>

<div class="navlistdiv">
   <ul id="navlist" style="text-align:center; float: none;">
       <li id="home_nav" class="tohome"><%= link_to image_tag("home.png"), lents_path, remote:true %></li>
       <li id="contact_nav"><a src="#" id="contact"><%= image_tag "contacts.png"%></a></li>
       <li id="gallery_nav"><%= link_to image_tag("done.png"), gallery_lents_path, remote:true, class: 'sample', id: 'proect' %></li>
   </ul>
</div>
</body>
</html>
